
/* cabor style */
p{
    text-align: justify;
}

.cabor-tittle {
    font-weight:900;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2em;
    color: white;
}

.cabor-desc img{
    width: 100%;
    height: auto;
}
@media screen and (max-width: 600px) {
    .cabor-tittle {
        position: relative;
    }
}